# See http://www.appveyor.com/docs/appveyor-yml for many more options
install:
  - cinst pester -y

build: false

test_script:
# Test with native PS version
  - ps: Invoke-Pester
# Test with PS version 2
  - ps: powershell.exe -version 2.0 -executionpolicy bypass -noprofile -Command { Invoke-Pester }
# Finalize pass - collect and upload results
#  - ps: . .\Tests\appveyor.pester.ps1 -Finalize
